<% if @rant.errors.any? %>
<% @rant.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>

<% if @rant.user == current_user %>
  <div class="rant-box">
    <%= form_for [@user, @rant] do |f| %>
      <div class = "rant-head">
        <h2><%= f.text_field :title, class: "wide" %></h2>
        <%= link_to "Delete", rant_path(@rant), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to " Cancel", rants_path %>
        <%= f.submit "Save" %>
      </div>

    <div class= "rant-post">
      <div class="avatar">
    </div>
      <%= f.text_area :body, class:"text-area message" %>
      <div class="countdown"></div>
      </div>
      
    <% end %>
  </div>
<% end %>
