<% if @rant.errors.any? %>
<% @rant.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>


<div class="rant-box">
  <%= form_for @rant do |f| %>
    <div class="rant-head">
      <%= link_to "Cancel", rants_path, class: 'btn btn-default btn-sm' %>
      <%= f.submit "Save" %>
      <h2><%= f.text_field :title, class: "wide", :placeholder => "Rant Title" %></h2>
    </div>

    <div class="rant-post">
      <div class="avatar">
      </div>
      <%= f.text_area :body, class:"text-area message", :placeholder => "Start your rant." %>
        <div class="countdown"></div>
      <% end %>
    </div>
</div>
